body {
    font-family: -apple-system, "Helvetica Neue", "Lucida Grande", "Noto Color Emoji", "Apple Color Emoji";
    background-color: #F7F7F6;
    /*font-weight: 300;*/
    padding-left: 15px;
}
h1, h2, h3, h4, h5, h6 {
    font-weight: 500;
    margin: 0;
}

#air-sonos {
    margin-top: 15px;
}